{% extends 'navegador.html' %}
{% load static %}

{% block title %}Lista de Pacientes{% endblock %}
{% block content %}
    <div class="container mt-3" style="z-index: 5;" id="lista">
        <!-- Lista de paciente -->
        <h2>Lista de Pacientes Activos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in pacientes %}
                <tr id="contenedor-paciente" class="fila-paciente">
                    <td data-usuario-info="nombre">{{ usuario.nombre }}</td>
                    <td data-usuario-info="apellido">{{ usuario.apellido }}</td>
                    <td>
                        <button id="info" onclick="muestraInfo(this)"> Informacion </button>
                        <button id="actualiza" onclick="actualizaInfo(this)"> Actualizar </button>
                        <button id="consulta" onclick="nuevaConsulta(this)"> Nueva Consulta </button>
                        {% csrf_token %}
                        <button id="Elimina" onclick="eliminaInfo(this)"> Eliminar </button> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
    <!-- boton informacion  -->
    <div class="container mt-3 opciones_pacientes" id="info_paciente">
        <div class="d-flex align-items-start titulo">   
            <h3>Información Paciente</h3>
            <button class="btn btn-outline-danger ms-auto" onclick="cierraInfo('info_paciente')">
                Cerrar Información
            </button>
        </div>

        <div class="card mb-4 muestraInfo">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Datos Personales</h5>
            </div>
            <div class="card-body">
                <div class="row paciente-info">
                    <div class="col-md-6" data-campo="nombre"><strong>Nombre:</strong><span></span></div>
                    <div class="col-md-6" data-campo="apellido"><strong>Apellidos:</strong><span></span></div>
                    <div class="col-md-6" data-campo="edad"><strong>Edad:</strong><span></span></div>
                    <div class="col-md-6" data-campo="sexo"><strong>Género:</strong><span></span></div>
                </div>
            </div>
        </div>
        
        <div class="card mb-4 muestraInfo">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Historial Médico</h5>
            </div>
            <div class="card-body">
                <div class="container border p-3 rounded bg-light">
                    <div id="detallesPaciente"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- boton actualiza  -->
    <div class="container mt-3 opciones_pacientes" id="actualizaPaciente">
        <div class="d-flex align-items-start titulo">   
            <h3>Actualizar Paciente</h3>
            <button class="btn btn-outline-danger ms-auto" onclick="cierraInfo('actualizaPaciente')">
                Cerrar Información
            </button>
        </div>
            
        <form class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="card mb-4 muestraInfo">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Datos Personales</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" 
                                   placeholder="Nombre del paciente" name="nombre" 
                                   pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" data-info="nombre" required>
                            <div class="invalid-feedback">Por favor ingrese un nombre válido (solo letras)</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="apellidos" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" 
                                   placeholder="Apellidos del paciente" name="apellidos" 
                                   pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" data-info="apellido" required>
                            <div class="invalid-feedback">Por favor ingrese apellidos válidos (solo letras)</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="edad" class="form-label">Edad:</label>
                            <input type="number" class="form-control" id="edad" 
                                   placeholder="Edad" name="edad" min="0" max="120" data-info="edad" required>
                            <div class="invalid-feedback">La edad debe estar entre 0 y 120 años</div>
                        </div>
                    </div>

                </div>
            </div>

            <button id="enviar" type="button" class="btn btn-primary" onclick="enviarActualizacion()" disabled>Actualizar</button>
        </form>
    </div>

    <!-- boton nueva consulta -->
    <div class="container mt-3 opciones_pacientes" id="consulta_paciente">
        
        <div class="d-flex align-items-start titulo">   
            <h3>Nueva Consulta</h3>
            <button class="btn btn-outline-danger ms-auto" onclick="cierraInfo('consulta_paciente')">
                Cerrar Información
            </button>
        </div>
        <div class="card mb-4" >
            <div class="card-header bg-primary text-white d-flex align-items-start"">
                <h5 class="mb-0">Consulta Medica</h5>
            </div>
            <form class="needs-validation" method="post"  novalidate id="form_consulta">
                {% csrf_token %}
                <div class="card-body">
                    <div class="col-md-3 mb-3">
                            <label for="peso" class="form-label">Peso:</label>
                            <input type="number" class="form-control" id="peso" placeholder="Peso" name="peso" required>
                            <input type="hidden" name="fecha" id="fecha">
                    </div>
                    <div class="mb-3">
                        <label for="sintomas" class="form-label">Síntomas:</label>
                        <textarea class="form-control" rows="5" id="sintomas" 
                                    name="sintomas" placeholder="Describa los síntomas del paciente" 
                                    required></textarea>
                        <div class="invalid-feedback">Por favor escriba los síntomas claves del paciente</div>
                    </div>
                    <div class="mb-3">
                        <label for="receta" class="form-label">Medicamentos:</label>
                        <textarea class="form-control" rows="5" id="sintomas" 
                                    name="medicamentos" placeholder="Medicamentos" 
                                    required></textarea>
                        <div class="invalid-feedback">Por favor escriba los medicamento recetado al paciente</div>

                    </div>
                    <div class="mb-3">
                        <label for="observacion" class="form-label">Observaciones o Instrucciones:</label>
                        <textarea class="form-control" rows="5" id="sintomas" 
                                    name="observaciones" placeholder="Observaciones o Instrucciones al paciente" 
                                    required></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center gap-2">
                    <button type="reset" class="btn btn-outline-secondary">Limpiar</button>
                    <button type="submit" class="btn btn-primary">Crear Consulta</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- boton ver consulta -->
    <div class="container mt-3 opciones_pacientes" id="ver_consulta">
        <div class="d-flex align-items-start titulo">   
            <h3>Consulta</h3>
            <button class="btn btn-outline-danger ms-auto" onclick="cierraInfoConsulta('ver_consulta')">
                Cerrar Información
            </button>
        </div>
        <div class="card mb-4" >
            <div class="card-body">
                    <div class="col-md-3 mb-3">
                            <label for="fecha" class="form-label">Fecha:</label>
                            <input type="text" class="form-control" name="consulta_fecha" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                            <label for="peso" class="form-label">Peso:</label>
                            <input type="number" class="form-control" name="consulta_peso" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="sintomas" class="form-label">Síntomas:</label>
                        <textarea class="form-control" rows="5" id="sintomas" 
                                    name="consulta_sintomas" disabled></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="receta" class="form-label">Medicamentos:</label>
                        <textarea class="form-control" rows="5" id="sintomas" 
                                    name="consulta_medicamentos" disabled></textarea>

                    </div>
                    <div class="mb-3">
                        <label for="observacion" class="form-label">Observaciones o Instrucciones:</label>
                        <textarea class="form-control" rows="5" id="sintomas" 
                                    name="consulta_observaciones" disabled></textarea>
                    </div>
                </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script>
        //variables locales
        const pacientes = JSON.parse('{{ pacientes_json|escapejs }}');
        const campos_modificados = new Set();
        const modificados = document.querySelectorAll('[data-info]');
        const boton_enviar = document.getElementById("enviar");
        let id_paciente = null;
        let filaPaciente = null;
        let contado=0;

        //Inicialización de Validación de Formularios
        (() =>{
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event =>{
                    if(!form.checkValidity()){
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    const fecha = obtenFechaLocal();  // Fecha local en formato UTC
                    document.getElementById("fecha").value = fecha;
                    form.classList.add('was-validated');
                }, false);
            });
        })();

        //Detección de cambios en campos editables
        modificados.forEach(function(modificado) {
            modificado.addEventListener("input", function() {
                campos_modificados.add(this.dataset.info);
                if (campos_modificados.size > 0) {
                    boton_enviar.disabled = false; // Activar
                }
            });
        });

        /**
         * Función que obtiene el índice de la fila seleccionada en la tabla HTML
         * y extrae el ID del paciente correspondiente desde una lista global (`pacientes`).
         * Esta función se utiliza comúnmente al hacer clic en un botón dentro de una fila para
         * identificar al paciente relacionado con esa fila de la tabla.
         * 
         * Parámetros:
         * ----------
         * boton : HTMLElement
         *     Elemento HTML (botón) que fue presionado. Se espera que esté dentro de una fila (<tr>) de la tabla.
         * 
         * Retorna:
         * -------
         * number
         *     Índice de la fila dentro del conjunto de filas con clase `.fila-paciente`.
        */
        function obtenerIdFila(boton){
            // Obtiene la fila HTML (<tr>) más cercana al botón presionado
            const fila = boton.closest('tr');
            filaPaciente = fila;
            // Selecciona todas las filas de pacientes en la tabla
            const filas = document.querySelectorAll('.fila-paciente');
            // Convierte el NodeList a un arreglo y obtiene el índice de la fila actual
            const indiceFila = Array.from(filas).indexOf(fila);
            // Obtiene el ID del paciente correspondiente a esa fila, usando el arreglo global `pacientes`
            id_paciente = pacientes[indiceFila].pk;
            return indiceFila;
        }

        /**
         * Función asincrónica que gestiona la eliminación lógica de un paciente mediante una solicitud POST al servidor.
         * 
         * Esta función se ejecuta cuando el usuario hace clic en un botón para eliminar a un paciente. Obtiene el ID del 
         * paciente asociado a la fila correspondiente en la tabla, envía una solicitud al backend en formato JSON y 
         * actualiza la interfaz según la respuesta recibida.
         * 
         * Parámetros:
         * ----------
         * boton : HTMLElement
         *     El botón HTML que fue presionado para eliminar al paciente. Se utiliza para ubicar la fila correspondiente.
        */
        async function eliminaInfo(boton){

            const indiceFila = obtenerIdFila(boton);

            // Crea el objeto de datos que se enviará al servidor (en formato JSON)
            let datos = {idpaciente: id_paciente};
            try {
                // Envío de la solicitud POST al backend usando fetch API
                const response = await fetch("/hospital/eliminar-paciente/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": obtenCookie('csrftoken') // Se incluye el token CSRF requerido por Django
                    },
                    body: JSON.stringify(datos) // Se envía el objeto convertido a JSON
                });
                
                // Se espera la respuesta del servidor en formato JSON
                const result = await response.json();

                // Si la respuesta no es exitosa (status != 200), lanza un error
                if (!response.ok) {
                    throw new Error(result.error || 'Error en el servidor');
                }

                // Recarga la página para reflejar los cambios en la lista de pacientes
                window.location.reload(true);
                
            } catch (error) {
                console.error("Error:", error);
                muestraNotificacion('error',
                error.message || 'Error al conectar con el servidor');
            }
        }
        
        /**
         * Función asincrónica que envía al servidor los cambios realizados en los datos de un paciente
         * y actualiza dinámicamente la interfaz si la respuesta es exitosa.
         * 
         * La función toma los valores modificados en campos editables del DOM, construye un objeto JSON 
         * con los datos del paciente, realiza una solicitud POST al backend y, si el servidor responde correctamente, 
         * actualiza tanto la visualización de la tabla como el objeto `paciente` en memoria.
         * 
        */
        async function enviarActualizacion() {
            // Crear objeto con ID del paciente
            let datos = {idpaciente: id_paciente};
    
            // Agregar al objeto los campos que han sido modificados
            for (let valor of campos_modificados) {
                datos[valor] = document.querySelector(`[data-info="${valor}"]`).value;
            }
            try {
                // Enviar solicitud POST con los datos al servidor
                const response = await fetch("/hospital/actualizar-paciente/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": obtenCookie('csrftoken') // Función para obtener el token
                    },
                    body: JSON.stringify(datos)
                });
                
                // Parsear la respuesta en formato JSON
                const result = await response.json();
                
                if (!response.ok) {
                    throw new Error(result.error || 'Error en el servidor');
                }
                
                // Obtener los nombres de los campos modificados como arreglo
                const campos = Array.from(campos_modificados.values());
                //showNotification('success', 'Paciente actualizado correctamente');

                // Obtener los nombres de los campos modificados como arreglo
                const paciente = pacientes.find(p => p.pk == id_paciente);

                // Actualizar visualmente y en memoria los campos modificados
                for(let campo of campos){
                    if (campo == "nombre" || campo == "apellido"){
                        filaPaciente.querySelector(`[data-usuario-info="${campo}"]`).textContent = datos[campo];
                    }
                    paciente.fields[campo] = datos[campo];
                }
                
                // Aplicar clase visual para destacar la fila modificada
                filaPaciente.classList.add('fila-paciente-activo');

                boton_enviar.disabled = true; // Desactivar
                campos_modificados.clear();
                cierraInfo("actualizaPaciente");
                setTimeout(() => {
                    filaPaciente.classList.remove('fila-paciente-activo')
                }, 3000);

            } catch (error) {
                console.error("Error:", error);
                muestraNotificacion('error',
                error.message || 'Error al conectar con el servidor');
            }
        }

        /**
         * Obtiene la fecha y hora local en formato ISO 8601 sin el sufijo "Z".
         * 
         * Retorna:
         * -------
         * string
         *     Cadena de texto con la fecha y hora local en formato ISO
         */
        function obtenFechaLocal() {
            const now = new Date();
            const offset = now.getTimezoneOffset() * 60000; // en milisegundos
            const localDate = new Date(now - offset);
            return localDate.toISOString().slice(0, 19); // sin el sufijo "Z"
        }

        /**
         * Esta función se utiliza comúnmente para resaltar un panel o formulario 
         * flotante (por ejemplo, con detalles de un paciente) mientras se bloquea 
         * la interacción con el resto de la interfaz, aplicando desenfoque y 
         * desactivando eventos en elementos como la barra de navegación y la lista de pacientes.
         * 
         * Parámetros:
         * ----------
         * nombre : string
         *     ID del elemento HTML que se desea mostrar (se espera que esté oculto inicialmente).
        */
        function ocultarFondo(nombre){
            // Mostrar la sección de información del paciente (por ID)
            const informacion = document.getElementById(nombre);
            informacion.style.display = "block";

            // Aplicar desenfoque y desactivar interacción en la lista principal
            const lista = document.getElementById("lista");
            lista.style.filter = "blur(5px)"
            lista.style.pointerEvents = "none";
            lista.style.userSelect = "none";

            // Aplicar el mismo efecto al área de navegación
            const navegador = document.getElementById("nav");
            navegador.style.filter = "blur(5px)"
            navegador.style.pointerEvents = "none";
            navegador.style.userSelect = "none";
        }
        
        /**
         * Esta función revierte los efectos aplicados por `ocultaroFondo`, permitiendo que el
         * usuario vuelva a interactuar normalmente con la interfaz (barra de navegación y lista principal).
         * 
         * Parámetros:
         * ----------
         * nombre : string
         *     ID del elemento HTML que se desea ocultar (por ejemplo, un contenedor modal o sección de detalle).
        */
        function cierraInfo(nombre){
            // Oculta el elemento especificado (como un formulario o panel de detalles)
            document.getElementById(nombre).style.display='none';

            // Restaura la visibilidad e interacción de la lista principal
            const lista = document.getElementById("lista");
            lista.style.filter = ""
            lista.style.pointerEvents = "";
            lista.style.userSelect = "";

            // Restaura la visibilidad e interacción de la barra de navegación
            const navegador = document.getElementById("nav");
            navegador.style.filter = ""
            navegador.style.pointerEvents = "";
            navegador.style.userSelect = "";
        }
        
        /**
         * Muestra una notificación visual breve en pantalla (tipo "toast") para informar al usuario.
         * 
         * La notificación se crea dinámicamente y se elimina automáticamente después de 2 segundos.
         * Si no existe un contenedor para las notificaciones (`#notifications`), se crea uno con `createNotificationsContainer()`.
         * 
         * Parámetros:
         * ----------
         * type : string
         *     Tipo de notificación. Puede ser 'success' (éxito) u otro valor que indica advertencia o error.
         * 
         * message : string
         *     Texto que se mostrará dentro de la notificación.
         * 
        */
        function muestraNotificacion(type, message) {
            // Obtiene o crea el contenedor principal de notificaciones
            const notificaciones = document.getElementById('notificaciones') || crearContenedorNotificaciones();

            // Crea el elemento de notificación
            const notificacion = document.createElement('div');
            notification.id="noti";
            contado++;

            // Define el contenido HTML de la notificación
            notificacion.innerHTML = `
                <span class="icon">${type === 'success' ? '✓' : '!'}</span>
                <span class="message">${message}</span>
            `;

            // Inserta la notificación al inicio del contenedor (arriba de las anteriores)
            notificaciones.prepend(notificacion);
            setTimeout(() => {
                notification.remove();
                contado--;
                if(contado == 0){
                    document.getElementById('notificaciones').remove();
                }
            }, 2000);
        }

        function crearContenedorNotificaciones() {
            const contenedor = document.createElement('div');
            contenedor.id = 'notificaciones';
            document.body.appendChild(contenedor);
            return contenedor;
        }

        /**
         * Obtiene el valor de una cookie específica almacenada en el navegador del usuario.
         * 
         * Esta función recorre las cookies almacenadas en `document.cookie` y busca una
         * que coincida con el nombre proporcionado. Si la encuentra, devuelve su valor, necesaria  para recuperar el token CSRF.
         * 
         * Parámetros:
         * ----------
         * nombre : string
         *     Nombre de la cookie que se desea obtener.
         * 
         * Retorna:
         * -------
         * string | null
         *     Valor de la cookie si se encuentra; de lo contrario, retorna null.
        */
        function obtenCookie(nombre) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, nombre.length + 1) === (nombre + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(nombre.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        /**
         * Esta función se activa al hacer clic en el botón de "editar" dentro de una fila de la tabla de pacientes.
         * Identifica al paciente correspondiente, carga su información en los campos del formulario
         * y muestra el contenedor de edición deshabilitando temporalmente el fondo (navegación y lista).
         * 
         * Parámetros:
         * ----------
         * boton : HTMLElement
         *     Elemento de tipo botón presionado por el usuario; se usa para identificar la fila asociada al paciente.
         * 
        */
        function actualizaInfo(boton){
            ocultarFondo("actualizaPaciente");
            const indiceFila = obtenerIdFila(boton);
            document.querySelectorAll(".muestraInfo [data-info]").forEach(el => {
                const campo = el.getAttribute("data-info");
                if (campo == "id"){
                    el.value = pacientes[indiceFila].pk
                }else{
                    el.value = pacientes[indiceFila].fields[campo];
                }
            });;
        }

        /**
         * La función identifica al paciente asociado al botón presionado, muestra 
         * su información en los campos correspondientes dentro de una sección específica
         * del DOM.
         * 
         * Parámetros:
         * ----------
         * boton : HTMLElement
         *     Botón presionado por el usuario; se utiliza para identificar la fila del paciente correspondiente.
         * 
        */
        function muestraInfo(boton){
            ocultarFondo("info_paciente");
            const indiceFila = obtenerIdFila(boton);

            // Rellena los campos de la sección con los datos del paciente seleccionado
            document.querySelectorAll(".paciente-info [data-campo]").forEach(el => {
                const campo = el.getAttribute("data-campo");
                el.querySelector("span").textContent = pacientes[indiceFila].fields[campo] || "N/A";
            });;

            // Solicita al backend los detalles adicionales (como historial de consultas)
            fetch(`/hospital/detalle-paciente/${id_paciente}/`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('detallesPaciente').innerHTML = html;
            });
        }

        /**
         * La función identifica al paciente seleccionado en la tabla, actualiza dinámicamente
         * la URL del formulario con el ID correspondiente, y muestra el contenedor con el formulario
         * de consulta, desenfocando el fondo para enfocar la interacción del usuario.
         * 
         * Parámetros:
         * ----------
         * boton : HTMLElement
         *     Botón presionado por el usuario, asociado a una fila de la tabla de pacientes.
         * 
         */
        function nuevaConsulta(boton){
            ocultarFondo("consulta_paciente");
            const indiceFila = obtenerIdFila(boton);
            form = document.getElementById("form_consulta");

            // Selecciona el formulario y actualiza dinámicamente su atributo `action`
            form.action = `/hospital/nueva-consulta/${id_paciente}/`; 
        }

        /**
         * Esta función se activa al hacer clic en un botón que contiene los datos de una consulta médica
         * en sus atributos `data-*`. Oculta la sección general del paciente (`#info_paciente`) y muestra 
         * el formulario o contenedor correspondiente a la consulta (`#ver_consulta`), llenando los campos 
         * del formulario con los datos obtenidos desde el botón.
         * 
         * Parámetros:
         * ----------
         * boton : HTMLElement
         *     Botón presionado por el usuario, que contiene atributos `data-*` con la información de la consulta.
         * 
        */
        function verConsulta(boton){
            document.getElementById("info_paciente").style.display = "none";
            const mostrarConsulta = document.getElementById("ver_consulta");
            mostrarConsulta.style.display = "block";

            // Obtener los datos desde el botón
            const datos = boton.dataset;

            // Llenar los campos del formulario
            document.querySelector('input[name="consulta_fecha"]').value = datos.fecha || '';
            document.querySelector('input[name="consulta_peso"]').value = datos.peso || '';
            document.querySelector('textarea[name="consulta_sintomas"]').value = datos.sintomas || '';
            document.querySelector('textarea[name="consulta_medicamentos"]').value = datos.medicamentos || '';
            document.querySelector('textarea[name="consulta_observaciones"]').value = datos.observaciones || '';
        }


        function cierraInfoConsulta(nombre){
            document.getElementById(nombre).style.display='none';
            document.getElementById("info_paciente").style.display = "block";
        }
    </script>


{% endblock %}